.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.city-search-panel {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  height:650px;
  background-color: #a5969621;
  border:1px solid #568451;
  margin-left:10px;
}

.city-name {
  color: #0078A8;
  font-size: 14px;
}
.city-name:hover {
  font-size: 15px;
}
.leaflet-control-attribution  {
  display: none;
}